body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Title */

.logo-icon {
  font-size: 15rem;
  color: #1979FF;
}

.logo{
  text-align: right;

}
/* Headings */

.big-heading {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding:7% 15%;
}

/* Sections */

.colored-section {
  background-color:	#0c3a7c;
  color:#fff;
}

.white-section{
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding:0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat"
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15%;
  text-align: left;

}

/* Download Buttons */

.sign-up-button {
  margin-bottom: 5%;
}



/* Title Image */

.title-image {
  width: 60%;

  position: absolute;
  right: 30%;
}

.explainer {
  padding-bottom: 0;
}

.members {
  padding-top: 0;
}
.dtl-logo {
  width: 120%;
  height: auto;
}

.desc {
  text-align: center;
  padding-top: 10%;
}

/* About Section */

.desc1 {
  color: #172c4a;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 5%;
}

.icon {
  color:#1461CC;
  font-size: 3rem;
  padding: 2rem 0;
}

.icon:hover {
  color:#1979FF;
}

/* Testimonial Section */

#testimonials {
  background-color: #0c3a7c;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
  color: #fff;
}

.testimonial-descriptor{
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.list {
  padding-top: 5%;
}

#testimonial-text {
  font-family: "Montserrat";
  font-weight: 900;
}

a {
  color: white;
}

.charity-logo {
  width: 50%;
  padding-bottom: 5%;
}

.carousel-item {
  padding-top: 5%;
}
/* Press Section */

#press {
  background-color: #fff;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Form */

.form-text {
  text-align: left;
  font-family: "Montserrat"
}
@media (max-width:1042px) {

  .title-image {

    position: static;
  }

  #title {
    text-align: center;
  }
}

.form-header {
  padding-top: 5%;
}

.form-body {
  padding-top: 4%;
}

/* Call to Action Section */

#cta .container-fluid {
  padding-bottom: 3%;
}

/* Footer Section */



.footer-icons {
  padding: 20px;
}

#footer .container-fluid {
  padding: 1%;
}
